{% extends "base.html" %}

{% block title %}account center{% endblock %}




{% block content %}

<br><br>
<div align='center'><h1>My Account</h1></div>
<br>
<hr>
<div class="container">
<div><h2><strong>User Info</strong></h2></div>
<div class="row">
    <div class="col-3">
        <h5 class="mb-0"><strong>Email</strong></h5>
    </div>
    <div class="col-9" >
        {{user.email}}
    </div>
</div>
<div class="row">
    <div class="col-3">
        <h5 class="mb-0"><strong>User name</strong></h5>
    </div>
    <div class="col-9" >
        {{user.username}}
    </div>
</div>
<div class="row">
    <div class="col-3">
        <h5 class="mb-0"><strong>First name</strong></h5>
    </div>
    <div class="col-9" >
        {{user.first_name}}
    </div>
</div>
<div class="row">
    <div class="col-3">
        <h5 class="mb-0"><strong>Last name</strong></h5>
    </div>
    <div class="col-9" >
        {{user.last_name}}
    </div>
</div>
<div class="row">
    <div class="col-3">
        <h5 class="mb-0"><strong>Registration</strong></h5>
    </div>
    <div class="col-9" >
        {{ user.date_joined}}
    </div>
</div>

</div>


{% endblock %}