{% extends "base.html" %}

{% block title %}chat room{% endblock %}
{% block content %}
<h5 align="center">Room: {{room_name}}</h5>
<br>

<div class="h-75 overflow-auto " id="display" name='display' align="center" >
</div>


<div class="fixed-bottom" style="text-align: center; opacity: 90%;">
  <form id="post_form" name = "post_form" method="POST">
    {% csrf_token %}
    {{form}}
  <button type="submit" class="btn btn-success" id="send_mes">Send</button>
  <button type="button" class="btn btn-success" id="to_bottom" onclick="toBottomFunction()">Back to bottom</button>
  
  </form>
  
 
</div>

<script>
  function toBottomFunction(){
    var div = document.getElementById('display');
    $('#display').animate({
      scrollTop: div.scrollHeight - 50
      }, 500);
  }

$('#post_form').on('submit', function(e){ 
  e.preventDefault();
  document.getElementById("room").value = "{{room_name}}";
  
  $.ajax({
    type:"POST",
    url: "{% url 'createMes' %}",
    data:{text:$('#text').val(),
    roomname:$('#room').val(),
    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
  },
    success: function(data){
      alert(data);
    }
  });
  document.post_form.reset();
});

$(document).ready(function(){

  var watcher = "{{cur_size}}";
  var room_name = "{{room_name}}";
  var cur_user = "{{cur_user}}"
  

  setInterval(function(){
    $.ajax({

        type:"GET",
        url: "/getMessage/",
        success: function(response){
          
          if(response.message.length > watcher){
            
            var div = document.getElementById('display');

            if(div.offsetHeight < div.scrollHeight && div.scrollTop + div.offsetHeight + 150 > div.scrollHeight){
              $('#display').animate({
              scrollTop: div.scrollHeight
              }, 500);
            }
            
            watcher = response.message.length;
          }

          $("#display").empty();
          for(var key in response.message){
            if(response.message[key].roomname == room_name){
              if(response.message[key].authorname == cur_user)
                var temp = "<div class='card w-25 bg-info' style='opacity:80%; position:relative; left:100px'><div class='card-body'><h5 class='card-title'><strong>"+response.message[key].authorname+"</strong></h5><p class='card-text'>"+response.message[key].text+"</p><p class='card-text'>"+response.message[key].send_at+"</p></div></div>";
              else
                var temp = "<div class='card w-25' style='opacity:80%;position:relative; right:100px'><div class='card-body'><h5 class='card-title'><strong>"+response.message[key].authorname+"</strong></h5><p class='card-text'>"+response.message[key].text+"</p><p class='card-text'>"+response.message[key].send_at+"</p></div></div>";
                
              $("#display").append(temp)
            }
          }
        },
        error: function(response){}
    });
  },100);
})
</script>

{% endblock %}