{% extends "base.html" %}

{% block title %}login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container col-6">

    <br>
    <div align="center"><h5>Log in here!</h5></div>
    <br>

<form method="post" class="form-group">
    {% csrf_token %}
    {{form|crispy}}
    <p>Don't have an account? Create one <a href="/register">here</a></p>
    <button type="submit" id="sub" class="btn btn-success">Login</button>
    
</form>
</div>
<script>
    var btn = document.getElementById('sub');
    btn.addEventListener('click', func);

function func() {
    console.log(document.getElementById("form.password").value);
}
</script>
{% endblock %}