<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
</head>
<body>

    <div class="bg-image" style="
      background-image: url('/static/home_bg.jpg');
      height:100%;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    ">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
              <a class="nav-link" href="/post">Chat room</a>
            </li>
        <li class="nav-item">
              <a class="nav-link" href="/account_center">Account center</a>
            </li>
        <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
        {% endif %}
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
        <li class="nav-item">
              <a class="nav-link" href="/register">Sign up</a>
            </li>
        {% endif %}
          </ul>
        </div>
      </div>
    </nav>


{% block content %}
{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>

</html>