{% extends "base.html" %}

{% block title %}Home{% endblock %}



{% block content %}

<br><br>
<div align='center'><h1>Hello there!</h1></div>
<br>
<hr>
{% if not user.is_authenticated %}
<div align='center'><h4>Please <a href="/login">login</a> to start chatting.</h4></div>
<div align='center'><h6>Don't have an account? Register <a href="/register">here</a></h6></div>
{% else %}
<div align='center'><h4>Hello, {{user.username}}</h4></div>
<div align='center'><h6>Click <a href="/post">here</a> to start chatting.</h6></div>
{% endif %}

{% endblock %}